<!DOCTYPE html>
<html>
<body>
<h1>Success</h1>
<p>
.. but no redirect was passed so you ended up here.<br>
Try to reach whatever site you tried to reach again, it should work this time.
</p>
</body>
</html>
